<div class="index_post" ng-click="show()">
	<img src="img/weibo2.png" />
</div>

<div class="index_post_div" ng-if="isShowPanel">
	<div>
		<textarea ng-model="content" placeholder="快来发表一条微博吧....点开这个窗口，你好厉害！不来一发，怎好意思呢！"></textarea>
	</div>
	<div>
		<span>标签</span>
		<input type="text" ng-model="tag1" ng-model-options="{ getterSetter: true }"/>
		<input type="text" ng-model="tag2"/>
		<input type="text" ng-model="tag3"/>
	</div>
	<div class="index_post_btn" ng-click="submit(content, tag1, tag2, tag3)">提交</div>
</div>