html body{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family:"Overlock", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #F2F2F2;
}

header{
	width: 100%;
	height: 45px;
	position: fixed;
	/*background-image: url('../img/header.png');*/
	background-color: #000;
	opacity: 0.8;
	color: #fff;
	border-bottom: 1px solid #A3A3A3;
	z-index: 1000000000;
}

a{
	text-decoration: none;
}


.header_center{
	width:980px; 
	margin-left:auto; 
	margin-right:auto;
	height: 40px;
}

.header_menu{
	margin-right:10px;
	cursor:pointer;
	color: #FFF;
}

.menu_current{
	color: #FFF;
}

.header_text{
	min-width:410px;height: 40px;line-height:40px;font-size:15px;
}
.header_menu:hover{
	color: #66D9EF;
}

.logo{
	border-radius:3px; height: 35px;
}

.login_reg{
	cursor: pointer;
}

.login_reg:hover{
	color: #006FC4;
}

#centent{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	min-height: 760px;
	overflow: hidden;
}

.mrt70{
	margin-top: 70px;
}
.bred{
	border: 1px solid red;
}

.minh{
	min-height: 660px;
}

.wd630{
	width: 630px;
}

.wd340{
	width: 340px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.indisplay{
	display: inline-block;
}

.item_shuoshuo{
	background-color: #FFF;
	min-height: 120px;
	width: 100%;
	/*border: 1px solid #C5C5C7;*/
	box-shadow: 2px 2px 2px #A3A3A3;
	border-radius:5px;
	margin-bottom: 10px;
}
.item_avat{
	width: 50px;
	height: 50px;
	border-radius:2px;
}

.item_pic_text_mt3{
	margin-top: 6px;
}
.item_pic{
	margin-left: 5px;
	width: 54px;
	height:50px;
}

.item_text{
	height: 50px;
	width: 567px;
	overflow: hidden;
	line-height: 23px;
	font-size:13px;
	color: #313131;
}

.item_ml3{
	margin-left:3px;
}

.item_link_div{
	margin-top:2px;
}

.name{
	color: #E66C4B;
	/*font-weight:bold;*/
}

.item_date{
	color: #C5C5C7;
}

.item_tag{
	color: #B3B3B3;
}

.item_icon{
	width: 80px;
	height: 18px;
}
.item_zan{
	margin-right: 5px;
	height: 18px;
	cursor:pointer;
}
.clear{
	float: none;
	width: 100%;
	height:5px;
}

.item_count{
	color: #6D8BA7;
}

.item_btn_page{
	width: 60px;
	height: 23px;
	color: #FFF;
	line-height:23px;
	text-align:center;
	border-radius:3px;
	background-color:#49483E;
}

.side_pic{
	border-radius: 3px;
	width: 340px;
}
.side_pic_float{
	position: absolute;
	height: 20px;
	width: 100%;
	bottom: 0;
	background-color: #333333;
}

.item_comment{
	height:95px;
	width:100%; 
	margin-top:4px;
}

.item_comment_input{
	height: 50px;
	width:617px;
	border:1px solid #E6E6E6;
	color: #7F7F7F;
	resize: none;
}

.item_comment textarea{
	outline: none;
}

.item_comment_btn{
	width:50px;
	height:24px;
	background-color:#5CAAE6;
	border-radius: 3px;
	color:#FFF;
	text-align:center;
	line-height:24px;
	margin-right:5px;
	cursor:pointer;
}

.item_pl_au{
	width: 30px;
	height:30px;
	border-radius:3px;
}

.item_tag_icon{
	height: 12px;
	margin-left:5px;
}

.minH45{
	min-height:45px;
}

.item_all_com{
	overflow: hidden;
	margin-top:6px;
	margin-bottom: 5px;
	/*font-size:12px;*/
	/*font-family: "宋体";*/
}

.item_all_com_cont{
	width: 100%; 
	height:30px;
}

.item_min_photo{
	width:45px;
	height:45px; 
	border-radius:2px;
}

.item_all_text{
	width:570px;
	min-height:30px;
	line-height:18px;
	/*font-size:14px;*/
}
.item_com_username{
	color: #E66C4B;
	font-size:14px;
	margin-bottom:3px;
}

.item_com_date{
	color:#C5C5C7;
	font-size:12px;
	margin-top:3px;
}

.com_hr{
	width:616px;height: 1px; 
	border-top:1px dashed #DDDDDD;
}

.item_com_text{
	color:#333;
	font-size:13px;
}

.mlrA{
	margin-left: auto;
	margin-right: auto;
}

footer{
	position:relative; width: 980px;height: 60px; top:40px;margin-left:auto;margin-right:auto;
}

.copyright{
	margin-left:auto;margin-right:auto;width:300px;color: #2838C6;
}

.link_webo{
	color: #006EC3;cursor: pointer;
}

.top_hidden_hr{
	height:50px;width: 100%;
}
.box_sha{
	box-shadow:2px 3px 2px #A3A3A3;
}

#map{
	width: 69%;
}

.border_rad3{
	border-radius:3px;
}

.h500{
	height: 430px;
}

.connect{
	width: 29%;background-color: #FFF;
}

.connect_table{
	margin-top: 10px;
}

.connect_title{
	font-size: 14px;
	color: #0080E1;
	border-bottom: 1px dashed #A3A3A3;
}

.connect_tr{
	text-align: center;
	width:80px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	margin-left:10px;
}

.bkgFFF{
	background-color: #FFF;
}

input{
	outline: none;	
}

.connect_sousuo{
	margin-top:20px;
	width: 977px;
	min-height: 460px;
	overflow: hidden;
}

.connect_pic{
	margin-left:5px;
	height:60px;
	width:60px;
	border-radius:3px;
}

.ip5{
	border-radius:36px;background-image: url(../img/iphone5.jpg); width:230px;min-height: 460px;background-size:230px 460px;
}

.connect_ip5_sou{
	width:185px; height:30px;top:70px;left:20px;position:relative;
}

.tel_item{
	position: relative;top:75px;left:30px;width: 185px;height: 25px;
}

.tel_item_name{
	font-weight:bold;width:37px;display: inline-block;
}
.connect_se_icon{
	margin-top:5px;
	cursor: pointer;
}
.tel_item_num{
	color:#3387D0;
}

/*--------------------login-----------------------*/
.login_div{
	height: 463px;width:364px;margin-top: 80px; border: 1px solid #DDDDDD;
}

.login_icon{
	height:60px; width:145px;
	margin-top: 20px;
}

.login_name_div{
	margin-top:40px;
	min-height: 230px;
	width: 300px;
}
.login_name{
	width: 270px;
	background: url(../img/user.png) no-repeat;
	height: 33px;
	margin-top: 20px;
	border: 1px solid #DDDDDD;
	padding-left: 25px;
	color: #666666;
	font-size:15px;
}

.login_psw{
	background: url(../img/psw.png) no-repeat;
}

.login_btn{
	height:50px;width:300px; text-align:center;line-height:50px;
	color: #FFFFFF;
	background-color: #04C3F0;
	margin-top:20px;
	font-size:16px;
	cursor: pointer;
}

.login_3fang{
	margin-right: 15px;
	border:1px solid #DDDDDD;height:35px;text-align:center;padding-left:15px;
	padding-right:14px;line-height: 35px;color:#62C6F1; cursor:pointer;
}

a{
	color: #5C7EF6;
}

