html body{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family:"宋体",elvetica,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	color: #444444;
	font-size: 13px;
	line-height: 18px;
	background-color: #E3E2E5;
}

header{
	width: 100%;
	height: 45px;
	position: fixed;
	background-image: url('../img/header.png');
	border-bottom: 1px solid #A3A3A3;
}

#centent{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	min-height: 730px;
}

.mrt70{
	margin-top: 70px;
}
.bred{
	border: 1px solid red;
}

.minh{
	min-height: 660px;
}

.wd630{
	width: 630px;
}

.wd340{
	width: 340px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.indisplay{
	display: inline-block;
}

footer{
	margin-top:40px;
	bottom: 0;
	height: 120px;
	width: 100%;
	background-color: #282828;
}
.item_shuoshuo{
	background-color: #FFF;
	height: 120px;
	width: 100%;
	border: 1px solid #C5C5C7;
	border-radius:5px;
	margin-bottom: 10px;
}
.item_avat{
	width: 50px;
	height: 50px;
	border-radius:2px;
}

.item_pic_text_mt3{
	margin-top: 3px;
}
.item_pic{
	margin-left: 5px;
	width: 54px;
	height:50px;
}

.item_text{
	height: 50px;
	width: 567px;
	overflow: hidden;
}

.item_ml3{
	margin-left:3px;
}

.item_link_div{
	margin-top:2px;
}

.name{
	color: #8C8C8C;
	font-weight:bold;
}

.item_date{
	color: #C5C5C7;
}

.item_tag{
	color: #2E3DCB;
}

.item_icon{
	width: 80px;
	height: 18px;
}
.item_zan{
	margin-right: 5px;
	height: 18px;
}
.clear{
	float: none;
	width: 100%;
	height:5px;
}


