html body{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family:"Microsoft YaHei",punctuation,"宋体",elvetica,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #E3E2E5;
}

header{
	width: 100%;
	height: 45px;
	position: fixed;
	background-image: url('../img/header.png');
	border-bottom: 1px solid #A3A3A3;
}



.header_center{
	width:980px; 
	margin-left:auto; 
	margin-right:auto;
	height: 45px;
}

.header_menu{
	margin-right:10px;
	cursor:pointer;
	color: #006FC4;
}

.header_text{
	min-width:410px;height: 45px;line-height:45px;font-size:15px;
}
.header_menu:hover{
	color: #ECAB47;
}

.logo{
	border-radius:3px; height: 35px;
}

.login_reg{
	cursor: pointer;
}

.login_reg:hover{
	color: #006FC4;
}

#centent{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	min-height: 760px;
	overflow: hidden;
}

.mrt70{
	margin-top: 70px;
}
.bred{
	border: 1px solid red;
}

.minh{
	min-height: 660px;
}

.wd630{
	width: 630px;
}

.wd340{
	width: 340px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.indisplay{
	display: inline-block;
}

.item_shuoshuo{
	background-color: #FFF;
	min-height: 120px;
	width: 100%;
	/*border: 1px solid #C5C5C7;*/
	box-shadow: 2px 2px 2px #A3A3A3;
	border-radius:5px;
	margin-bottom: 10px;
}
.item_avat{
	width: 50px;
	height: 50px;
	border-radius:2px;
}

.item_pic_text_mt3{
	margin-top: 6px;
}
.item_pic{
	margin-left: 5px;
	width: 54px;
	height:50px;
}

.item_text{
	height: 50px;
	width: 567px;
	overflow: hidden;
	line-height: 23px;
	font-size:13px;
}

.item_ml3{
	margin-left:3px;
}

.item_link_div{
	margin-top:2px;
}

.name{
	color: #8C8C8C;
	/*font-weight:bold;*/
}

.item_date{
	color: #C5C5C7;
}

.item_tag{
	color: #2E3DCB;
}

.item_icon{
	width: 80px;
	height: 18px;
}
.item_zan{
	margin-right: 5px;
	height: 18px;
	cursor:pointer;
}
.clear{
	float: none;
	width: 100%;
	height:5px;
}

.item_count{
	color: #A3A3A3;
}

.item_btn_page{
	width: 60px;
	height: 23px;
	color: #FFF;
	line-height:23px;
	text-align:center;
	border-radius:3px;
	background-color:#49483E;
}

.side_pic{
	border-radius: 3px;
	width: 340px;
}
.side_pic_float{
	position: absolute;
	height: 20px;
	width: 100%;
	bottom: 0;
	background-color: #333333;
}

.item_comment{
	height:95px;
	width:100%; 
	margin-top:4px;
}

.item_comment_input{
	height: 50px;
	width:617px;
	border:1px solid #E6E6E6;
	color: #7F7F7F;
}

.item_comment textarea{
	outline: none;
}

.item_comment_btn{
	width:50px;
	height:24px;
	background-color:#5CAAE6;
	border-radius: 3px;
	color:#FFF;
	text-align:center;
	line-height:24px;
	margin-right:5px;
	cursor:pointer;
}

.item_pl_au{
	width: 30px;
	height:30px;
	border-radius:3px;
}

.item_tag_icon{
	height: 12px;
	margin-left:5px;
}

.minH30{
	min-height:30px;
}

.item_all_com{
	overflow: hidden;
	margin-top:2px;
	margin-bottom: 5px;
	font-size:13px;
	font-family: "宋体";
}

.item_all_com_cont{
	width: 100%; height:30px;
}

.item_min_photo{
	width:30px;
	height:30px; 
	border-radius:2px;
}

.item_all_text{
	width:592px;min-height:30px;line-height:17px;
}
.item_com_username{
	color: #0086BE;
}

.item_com_date{
	color:#0080E1;
	font-size:12px;
}

.item_com_text{
	color: #8C8C8C;
}

footer{
	/*background-color:#FFFFFF;*/
	position:relative; width: 980px;height: 60px; top:40px;margin-left:auto;margin-right:auto;
}

.copyright{
	margin-left:auto;margin-right:auto;width:300px;color: #2838C6;
}

.link_webo{
	color: #006EC3;cursor: pointer;
}
