body{
	margin:0;
	width:100%;
	height:100%;
	font-family:'georgia', "微软雅黑","Overlock", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size:13px;
	background-color: #F2F2F2;
}
.ml3{
	margin-left:3px;
}
.text_center{
	text-align:center;
}

.boder_radius{
	border-radius:3px;
}


a{
	text-decoration:none;
	outline:none;
}

.fl{
	float:left;
}

.fr{
	float: right;
}

.inline_block{
	display:inline-block;
}

.text_liter_color{
	color:#B3B3B3;
}

.width980{
	width: 980px;
}

.FFFcolor{
	color:#FFF;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

.font18{
	font-size:18px;
}

/*--------------------------------------------------------------
 * 
 *  header
 * 
--------------------------------------------------------------*/
header{
	width:100%;
	height:44px;
	line-height: 44px;
	background-color:#000000;
	position: fixed;
	z-index:100;
}

header ul{
	list-style:none;
}
header ul li{
	float: left;
	font-size:15px;
	margin-right:22px;
	margin-top:-10px;
}

header ul li:hover{
	cursor:pointer;
	color:#3B78D4;
}


header ul li a:link{
	color:#FFF;
}

header ul li a:visited{
	color:#FFF;
}

header .login{
	font-size:13px;
	margin-right:10px;
	color:#7A95F5;
}

header .login a:link{
	color: #7A95F5;
}

header .login a:visited{
	color: #7A95F5;
}
/*--------------------------------------------------------------
 * 
 *  index container
 * 
--------------------------------------------------------------*/
.index_container{
	min-height:450px;
}
.index_container>div{
	height:60px;
	width:100%;
}

/*left*/
.index_container_left{
	width:630px;
}

.index_wei_item{
	background-color:#FFF;
	width:100%;
	min-height:121px;
	border-radius:3px;
	box-shadow: 2px 2px 2px #A3A3A3;
}


.index_wei_item_picH{
	height:50px;
	margin-top: 5px;
}

.index_wei_item_picH span{
	display:inline-block;
	max-width:565px;
	margin-top:10px;
	margin-left:5px;
	word-wrap: break-word;
	max-height:40px;
	overflow:hidden;
	line-height:20px;
}

.index_wei_item_picW{
	width:50px;
	border-radius:2px;
}

.index_wei_item_time_tag{
	margin-top:15px;
	height:30px;
	width: 100%;
	line-height:30px;
}
.index_wei_time_tag span{
	margin-right:5px;
}

.index_wei_item_time_tag img{
	width:14px;
	height:14px;
}

.index_wei_item_time_tag span:nth-child(1){
	color:#E66C4B;
}

.index_wei_item_time_tag span:nth-child(2){
	color:#C5C5C7;
}

.index_wei_item_time_tag span:nth-child(3){
	color:#B3B3B3;
}

.index_wei_item_count{
	width: 100%;
	height:23px;
	color: #6D8BA7;
}

.index_wei_item_count img{
	margin-top:2px;
	height:18px;
	margin-right:10px;
}

.index_wei_item_count img:hover{
	cursor:pointer;
}

.index_wei_item_edit{
	width: 100%;
	height:85px;
}

.index_wei_item_edit textarea{
	width:97%;
	height:45px;
	margin-left:2px;
	border:1px solid #E6E6E6;
	outline:none;
	resize:none;
}
.index_wei_item_edit div:nth-child(2){
	height:26px;
	width:50px;
	float:right;
	margin-right:10px;
	color:#FFF;
	text-align:center;
	line-height:26px;
	border-radius:2px;
	background-color:#5CAAE6;
	cursor:pointer;
}

.index_wei_item_comment{
	width:100%;	
	/*border-bottom:1px solid #E6E6E6;*/
}

.index_wei_item_comment>div{
	margin-top:4px;
	width:100%;
	border-top:1px dashed #DDDDDD;
}

.index_wei_item_user_c{
	height:70px;
	width: 100%;
}

.index_wei_item_user_c>div:nth-child(1){
	margin-top:5px;
	width:45px;
	height:45px;
	margin-left:3px;
}

.index_wei_item_user_c>div img{
	width:45px;
	height:45px;
	border-radius:2px;
}

.index_wei_item_user_c>div:nth-child(2){
	margin-top:5px;
	margin-left:5px;
}
.index_wei_item_user_c>div:nth-child(2)>div:nth-child(1){
	color:#E66C4B;	
}

.index_wei_item_user_c>div:nth-child(2)>div:nth-child(2){
	width:565px;
	height：20px;
	line-height:20px;
	white-space:nowrap;
	overflow:hidden;
}

.index_wei_item_user_c>div:nth-child(2)>div:nth-child(3){
	color:#C5C5C7;	
}

.weibo_paging{
	float:right;
}
.weibo_paging span{
	display:inline-block;
	width:60px;
	height:25px;
	background-color:#006FC4;
	margin-top:10px;
	color:#FFF;
	border-radius:3px;
	text-align:center;
	line-height:25px;
	cursor:pointer;
}

.weibo_paging span:nth-child(2){
	width:40px;
	background-color:#000000;
	opacity:0.6;
}

/*right*/

.index_container_right{
	width:340px;
	margin-top:4px;
}

.index_container_right a{
	color:#FFF;
}

.index_container_right>div{
	width:100%;
}
.index_container_right>div>img{
	border-radius:3px;
	width:339px;
	height:221px;
}
.index_container_right div span{
	display:block;
	position:relative;
	bottom:39px;
	line-height:37px;
	z-index:2;
	width:100%;
	height:37px;
	background-color: #000000;
	opacity:0.55;
	font-size:13px;
}
/*index post*/
.index_post{
	position:fixed;
	z-index:3;
	right:0;
	top:200px;
	height:48px;
	width:48px;
	cursor:pointer;
}

.index_post img{
	height:48px;
	width:48px;
}

.index_post_div{
	position:fixed;
	z-index:3;
	top:200px;
	right: 50px;
	height:140px;
	width:320px;
	border: 1px solid #DDDDDD;
	background-color:#FFF;
	border-radius:3px;
}

.index_post_div textarea{
	font-family: 'georgia',"微软雅黑";
	border:1px solid #4BA7D5;
	width:300px;
	height:70px;
	resize:none;
	outline:none;
	margin-top:3px;
	margin-left:7px;
	border-radius:2px;
	padding-left:3px;
}

.index_post_div input{
	font-family: 'georgia',"微软雅黑";
	width:55px;
	height:18px;
	line-height:18px;
	outline:none;
	border:1px solid #4BA7D5;
	border-radius:2px;
}

.index_post_div span{
	font-size:13px;
	margin-left:5px;
}

.index_post_btn{
	width:55px;
	height:25px;
	margin-top:5px;
	float:right;
	margin-right:10px;
	background-color:#4BA7D5;
	border-radius:3px;
	text-align:center;
	line-height:25px;
	color:#FFF;
	cursor:pointer;
}


/**************login***************/
.login_section{
	width:360px;
	height:560px;
	width:100%;
}
.login_div{
	width:360px;
	height:460px;
	margin-top:100px;
	border:1px solid #DDDDDD;
	background-color:#FFF;
}

.login_div>div:nth-child(1){
	margin-top:50px;
}

.login_div_icon{
	width:80px;
	height:80px;
}

.login_div input{
	width:300px;
	height:35px;
	border:1px solid #DDDDDD;
	border-radius:2px;
	outline:none;
	padding-left:25px;
	box-sizing: border-box;
}

.login_div input[type='email']{
	background: url(../img/user.png) no-repeat;
}

.login_div input[type='password']{
	background: url(../img/psw.png) no-repeat;
}

.login_div_input{
	width:300px;
	height:35px;
	margin-top:10px;
}

.login_div_span{
	width:300px;
}

.login_div_span span{
	color:red;
	margin-top:5px;
}

.login_div .login_btn{
	width:300px;
	height:50px;
	background-color:#04C3F0;
	color:#FFF;
	font-size:16px;
	line-height:50px;
	border-radius:3px;
	margin-top:20px;
	cursor:pointer;
	text-align:center;
}
.login_div_link{
	color:#5C7EF6;
	width:300px;
	margin-top:20px;
	font-size:12px;
}

.login_div_link div{
	cursor:pointer;
}

/*footer*/
.index_footer{
	width:140px;
	font-size:14px;
	line-height:50px;
	text-align:center;
}

/*--------------------------------------------------------------
 * 
 *  contacts
 * 
--------------------------------------------------------------*/
.contacts_userinfo{
	position:absolute;
	top:44px;
	left:0;
	bottom:0;
	width:350px;
	background-color:#FFF;
	border-right:1px solid #C8C8C8;
}

.mapDiv{
	position:absolute;
	top:44px;
	bottom:0;
	right:0;
	left:352px;
}

.contacts_search{
	position:absolute;
	right:10px;
	top:85px;
	width:320px;
	height:250px;
}

.contacts_search .searchInput{
	margin-top: 5px;
}

.searchInput input{
	height:35px;
	width:250px;
	border:1px solid #E1E1E1;
	border-radius:2px;
	padding-left:5px;
	outline:none;
	font-size:14px;
}

.searchButton{
	height:38px;
	width:57px;
	background-color:#00A1D9;
	border-radius:2px;
	text-align:center;
	line-height:38px;
	font-size:14px;
	color:#FFF;
	cursor:pointer;
}

.contacts_search_user{
	margin-top:50px;
	border:1px solid #E4E3E3;
	height:200px;
	width:320px;
	background-color:#FFF;
	opacity:0.9;
}

.contacts_search_user>div:nth-child(1){
	width:200px;
	height:150px;
	margin-left:10px;
	margin-top:10px;
}

.contacts_search_user>div:nth-child(2){
	width:100px;
	height:150px;
}

.contacts_search_user>div:nth-child(2) img{
	margin-top:20px;
	margin-left:10px;
	width:80px;
	height:80px;
	border-radius:2px;
}

.contacts_search_title{
	font-size:15px;
}

.contacts_search_value{
	color:#98958F;over-flow:hidden;
}

.contacts_search_sign{
	width:300px;
	margin-left:10px;
	height:36px;
}

.contacts_avatar{
	width:100px;
	height:100px;
	border-radius:50px;
	margin-top:14px;
/*	border:1px solid #DDD;*/
}

.contacts_avatar img{
	width:100px;
	height:100px;
	border-radius:50px;
}

.contacts_upload{
	height:25px;
	width:65px;
	color:#FFF;
	text-align:center;
	line-height:25px;
	background-color:#00A1D9;
	margin-top:-5px;
	border-radius:2px;
	cursor:pointer;
}
.contacts_hr{
	margin-top:10px;
	height: 2px;
	width:320px;
	border-bottom:1px dashed #E1E1E1;
}

.contacts_form div{
	margin-top:10px;
	margin-left:30px;
}

.contacts_form input[type='text']{
	height:28px;
	width:183px;
	border:1px solid #DCDCDC;
	outline:none;
	padding-left:5px;
	box-sizing: border-box;
}

.contacts_form input[type='button']{
	height:26px;
	width:63px;
	color:#FFF;
	box-sizing: border-box;
	border:0;
	outline:none;
	text-align:center;
	line-height:26px;
	background-color:#00A1D9;
	border-radius:2px;
	cursor:pointer;
}
.contacts_save{
	height:26px;
	margin-top:8px;
	width:63px;
	text-align:center;
	line-height:26px;
	background-color:#00A1D9;
	border-radius:2px;
	cursor:pointer;
	color:#FFF;
}

.contacts_tip{
	margin-left:10px;margin-top:10px;
	font-size:12px;
}

/******************************ucenter**************************************/
.ucenter{
	width:1080px;
	min-height: 300px;
}

.ucenter>div:first-child{
	height:60px;
	width:100%;
}

.ucenter .userWeibo{
	width:700px;
	min-height:140px;
}

.ucenter .userDetailInfo{
	width:300px;
	height:500px;
}

.uc_wei_div{
	background-color:#fff;
	min-height:55px;
	width:100%;
}

.uc_content{
	font-size:14px;
	margin-left:5px;
}
.uc_count>span:first-child{
	color:#7E7E7E;
	margin-left:5px;
}

.uc_count>span:nth-child(2){
	margin-left: 10px;
	color:#E9754B;
}

.uc_count>span:nth-child(3){
	color:#E9754B;
}
.uc_count>span:last-child{
	margin-left: 10px;
	color:#BD0D45;
}
.uc_del{
	display: block;
	height:25px;
	width:55px;
	background-color:#00CACD;
	text-align:center;
	line-height:25px;
	color:#FFF;
	cursor:pointer;
	border-radius:2px;
	margin-right:5px;
}

.uc_allc_div{
	width:100%;
	border-bottom:1px solid #DDDDDD;
}

.uc_comment_div{
	min-height:70px;
	background-color:#fff;
	width:100%;
	color:#A0A0A0;
}

.uc_comment_div>div{
	margin-left:5px;
	margin-top:10px;
}

.uc_comment_div img{
	width:50px;
	height:50px;
	border-radius:2px;
}

.uc_comment_div_text>div:first-child{
	color: #E9754B;
}

.uc_comment_div_text>div:nth-child(2){
	color: #383838;
}

.uc_page{
	float: right;
}

.uc_page span{
	background-color:#00A2D4;
	line-height:24px;
	height:24px;
	text-align:center;
	color:#FFF;
	display:inline-block;
	width:55px;
	border-radius:3px;
	cursor:pointer;
}

/******uc_user******/
.uc_user{
	width:100%;
	height:500px;
	background-color:#FFFFFF;
	border:1px dashed #DDDDDD;
	border-radius:2px;
}

.uc_user_avatar{
	height:80px;
	width:80px;
	margin-top:10px;
}

.uc_user_avatar img{
	height:80px;
	width:80px;
	border-radius:40px;
}

.uc_user_info{
	margin-top:5px;
	width:285px;
	border-top:1px dashed #ccc;
	margin-left:10px;
	border-bottom: 1px dashed #CCCCCC;
}

.uc_user_info>div{
	min-height:26px;
	line-height:26px;
}

.uc_user_info>div>span:first-child{
	color:#00B7EE;
}

.uc_user_password{
	margin-top:10px;
	margin-left:10px;
}

.uc_user_password div{
	margin-bottom: 5px;
}

.uc_user_password input{
	height:23px;
	width: 220px;
	outline:none;
	padding-left:4px;
	border:1px solid #C3C1BB;
	border-radius:2px;
}

.uc_user_password span{
	color:#00B7EE;
}

.uc_user_password>span{
	color:#D84C29;
}

.uc_user_password div:last-child{
	height:25px;
	width:55px;
	background-color:#00A1D9;
	text-align:center;
	line-height:25px;
	color:#FFF;
	margin-top:5px;
	margin-left:120px;
	border-radius:2px;
	cursor:pointer;
}

/******************************article_content*******************************/
.article_content{
	width:980px;
	min-height:600px;
	background-color:#FFF;
	box-shadow:2px 2px 2px #CCCCCC;
}

.article_content>div:first-child{
	height:60px;
	width:100%;
}

.article_content_title{
	width: 100%;
	text-align: center;
	font-size:18px;
	color:#00A2D4;
}

.article_content_author{
	margin-top:5px;
	width: 100%;
	text-align: center;
	color:#A3A3A3;
}

.article_content_duan{
	margin-top:20px;
	width:960px;
	margin-left:10px;
	font-size:15px;
	line-height:20px;
}

.article_content_duan>div:nth-child(1)>img{
	max-width:500px;
	max-height:320px;
}

.article_content_duan>div:nth-child(1){
	margin-top:10px;
	width:500px;
	height:320px;
	text-align: center;
	vertical-align:middle;
	line-height:320px;
}

.article_content_ref{
	margin-left:10px;
	color:#00B7EE;
}








