<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>通讯录-OURTimes</title>
		<link href="../../css/main.css" type="text/css" rel="stylesheet"/>
	</head>
<body>
	
	<header>
		<div class="header_center">
			<div class="fl">
				<div style="line-height:40px;font-size:18px;">
					OURTimes
				</div>
			</div>
			<div class="fr header_text">
				<div class="fl">
					<a href="../index/index.html"class="header_menu menu_current">首页</a>
					<a href="../user/user.html"class="header_menu">通讯录</a>
					<a href="../user/user.html" class="header_menu">个人中心</a>
					<a href="../article/article.html" class="header_menu">文章欣赏</a>
					<a href="../about/about.html" class="header_menu">About</a>
				</div>
				<div class="fr" style="font-size:12px" ng-controller="LoginController">
					<span ng-show="!user.name" class="login_reg">
						<a href="../user/login.html">登录</a>
					</span>
					<span ng-show="!user.name" class="login_reg">
						<a href="../user/register.html">注册</a>
					</span>
					<span ng-show="user.name">欢迎你，{{user.name}}</span>
				</div>
			</div>
		</div>
	</header>
	
	<section id="contact_div" ng-controller="UserController">
		<div id="user_map" ></div>
		<div id="user_div">
			<div id="user_avatar" class="user_avatar_img mlrA">
				<img  class="user_avatar_img" ng-src="{{user.avatar}}" />
			</div>
			<div>
				<form name="imgForm" action="/upload/img/" enctype="multipart/form-data" method="post">
					<input id="uploadImg" name="upload" type="file" style="width:0;height:0;"multiple="multiple" onchange="document.forms['imgForm'].submit();" />
					<input id="selfToken" name="token" style="width:0;height:0;border:0;"/>
					<div class="user_btn mlrA" ng-click="upload()" value="上传头像">上传头像</div>
				</form>
				<div class="mlrA user_hr"></div>
				<div id="userinfo_div" class="mlrA">
					<div class="user_m5">
						账号：
						<input type="text" value="{{user.email}}" class="user_input user_readonly" readonly="true"/>
					</div>
					<div class="user_m5">
						昵称：
						<input id="nickname" type="text" value="{{user.nickname}}" class="user_input" />
					</div>
					<div  class="user_m5">
						真名：
						<input id="realname" type="text" value="{{user.realname}}" class="user_input" />
					</div>
					<div  class="user_m5">
						电话：
						<input id="tel" type="text" value="{{user.tel}}" class="user_input" />
					</div>
					<div  class="user_m5">
						故乡：
						<input id="hometown" type="text" value="{{user.hometown}}" class="user_input user_readonly" readonly="true" placeholder="请点击右边按钮拖动标注选点"/>
						<input ng-click="home_getPoint()" type="button" value="地图选点" class="user_map_point"/>
					</div>
					<div  class="user_m5">
						职业：
						<input id="job" type="text" value="{{user.job}}" class="user_input"/>
					</div>
					<div  class="user_m5">
						地址：
						<input id="address" type="text" value="{{user.address}}" class="user_input user_readonly" readonly="true" placeholder="请点击右边按钮拖动标注选点"/>
						<input ng-click="address_getPoint()" type="button" value="地图选点" class="user_map_point"/>
					</div>
					<div  class="user_m5">
						签名：
						<input id="sign" type="text" value="{{user.sign}}" class="user_input" />
					</div>
				</div>

				<div class="user_btn mlrA" ng-click="save()">保存修改</div>
			</div>
			<div style="margin-left:10px;margin-top:10px;">
				为了保护您的敏感信息，如果您是游客用户或者不是标识为"BEN"的用户，您是无法修改自己的电话、真名、职业等信息，请给予理解，谢谢！
			</div>
		</div>
		<div id="user_search">
			<input type="text" id="contact_search_input" placeholder="请输入姓名"/>
			<input type="button"  value="搜索" />
		</div>


		<div id="contact_user">
			<div id="contact_header">个人名片</div>
			<div id="contact_text">
				<div>昵称：<span id="_nickname" style="color:#98958F;over-flow:hidden;">放羊的娃</span></div>
				<div>真名：<span id="_realName" style="color:#98958F;over-flow:hidden;">娃放羊</span></div>
				<div>电话：<span id="_tel" style="color:#98958F;">189-4979-6787</span></div>
				<div>地址：<span id="_address" style="color:#98958F;over-flow:hidden;">浙江省 杭州市XXXX</span></div>
				<div>工作：<span id="_job" style="color:#98958F;over-flow:hidden;">互联网</span></div>
				<div>家乡：<span id="_hometown" style="color:#98958F;">安徽省 阜阳</span></div>
			</div>
			<div id="contact_img_div" style="margin-right:5px;">
				<img id="contact_img" src="../../img/pp.png" />
			</div>
			
			<div id="contact_sign">
				<div>
					签名：<span id="_sign" style="color:#98958F;">梦想还是要有的，万一实现了呢！</span>
				</div>
			</div>
		</div>
	</section>

	<div id="alertInfo">
		<div id="alertMSG">对不起，请先登录 ......</div>
	</div>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=b79caad469676224a0e32143ce5add02"></script>
	<script type="text/javascript" src="../../js/angular.js"></script>
	<script type="text/javascript" src="./user.js"></script>
	<script type="text/javascript" src="./../common/loginController.js"></script>
	<script type="text/javascript" src="./../common/util.js"></script>
</body>
</html>
