
<section class="login_section" ng-controller="RegisterController">
	<div class="login_div center">
		<div class="login_div_icon center">
			<img class="login_div_icon" src="img/logo2.png"/>
		</div>
		<div class="login_div_input center">
			<input type="email"  placeholder="请输入邮箱" ng-model="email"/>
		</div>
		<div class="login_div_span center">
			<!--<span>请输入邮箱</span>-->
		</div>
		<div class="login_div_input center">
			<input type="password" placeholder="请输入密码" ng-model="password" />
		</div>
		<div  class="login_div_span center">
			<!--<span>请输入密码</span>-->
		</div>
		
		<div class="login_div_input center">
			<input type="password" placeholder="请确认密码" ng-model="re_password" />
		</div>
		
		<div class="login_btn center" ng-click="register()">登录</div>
		<div class="login_div_link center">
			<div class="fr">已有账号，请登录</div>
		</div>
	</div>
</section>

