<div class="contacts_userinfo">
	<div class="contacts_avatar center"></div>
	<div class="contacts_upload center">上传头像</div>
	<div class="contacts_hr center"></div>
	
	<div class="contacts_form">
		<div>
			账号：
			<input type="text"  readonly="true"/>
		</div>
		<div>
			昵称：
			<input type="text" />
		</div>
		<div>
			真名：
			<input type="text"/>
		</div>
		<div>
			电话：
			<input type="text"/>
		</div>
		<div>
			故乡：
			<input type="text" readonly="true" placeholder="请点击右边按钮拖动标注选点"/>
			<input type="button" value="地图选点"/>
		</div>
		<div>
			职业：
			<input type="text"/>
		</div>
		<div>
			地址：
			<input type="text" readonly="true" placeholder="请点击右边按钮拖动标注选点"/>
			<input type="button" value="地图选点"/>
		</div>
		<div>
			签名：
			<input type="text"/>
		</div>
	</div>
	
	<div class="contacts_save center">保存修改</div>
	<div class="contacts_tip">
		为了保护您的敏感信息，如果您是游客用户或者不是标识为"BEN"的用户，您是无法增加自己的电话、真名、职业等信息，请给予理解，谢谢！
	</div>
</div>